@model  IEnumerable<RiskAssessment.Web.Models.CustomerViewModel>

<div class="row">
    <div class="col-lg-12">
        <label>Customer RISK ASSESSMENT</label>
        <br/>
        <label><font color="red">*** Customers with 60% win rate</font></label><br>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-9">
        <table class="table">            
            @Html.Raw("<thead><th>Event</th><th>Customer</th><th>Participant</th><th>Stake</th><th>To Win</th><th>Stake 10x High</th><th>Stake 30x High</th><th>Risk amount > 1,000</th></thead><tbody>")
            @if (@Model != null)
            {
                foreach (var elem in @Model as IEnumerable<RiskAssessment.Web.Models.CustomerViewModel>)
                {
                    
                    @Html.Raw("<td>"
                              + @elem.Event + "</td><td color='"+@elem.FontColor + "'><font color="+@elem.FontColor+">"
                              + @elem.CustomerName + "</td><td><font color=" + @elem.FontColor + ">"
                              + @elem.Participant + "</td><td><font color=" + @elem.FontColor + ">"
                              + @elem.Stake.ToString("#,##0") + "</td><td><font color=" + @elem.FontColor + ">"
                              + @elem.Win.ToString("#,##0") + "</td><td><font color=" + @elem.FontColor + ">"
                              + @elem.IsCurrentStakeTenTimesHigherThanAverage + "</td><td><font color=" + @elem.FontColor + ">"
                              + @elem.IsCurrentStakeThirtyTimesHigherThanAverage + "</td><td><font color=" + @elem.FontColor + ">"
                              + @elem.IsCurrentWinningOnRiskAmount + "</td></tr>");
                }
                @Html.Raw("</tbody>");
            }
        </table>
    </div>
    
    <hr>
    <div class="col-sm-8"></div>
</div>

<div class="row">
    <div class="col-lg-12">
       

    </div>
</div>
